/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&family=Pacifico&display=swap');

:root {
    --ff-Pacifico: 'Pacifico', sans-serif;

    --white-color: #fff;
    --primary-color: #d70d25;
}


* {
    margin: 0;
    padding: 0;
    
    outline: none;
    border: none;
}

html, body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* ----------------------- Utilities style CSS ----------------------- */
.btn {
    display: inline-block !important;
    margin-top: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: none;
    cursor: pointer;
}
.btn--primary,
.btn--subscribe,
.form__contact .btn--send {
    background-color: var(--white-color);
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s linear;
}
.btn--primary:focus,
.btn--subscribe:focus,
.form__contact .btn--send:focus {
    box-shadow: none;
}
.btn--primary::before,
.btn--subscribe::before,
.form__contact .btn--send::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
}
.btn--primary:hover::before,
.btn--subscribe:hover::before,
.form__contact .btn--send:hover::before {
    width: 100%;
    transition: all 0.3s linear;
}
.heading-title__5 {
    display: inline-block;
    text-transform: capitalize;
    padding: 0.7rem 1.2rem;
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
    font-family: var(--ff-Pacifico);
    position: relative;
    z-index: 1;
}
.heading-title__5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0.2;
    z-index: -1;
}

/* ----------------------- Pre-loader page CSS ----------------------- */
#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}
#preloader .icon-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-radius: 50%;

    animation: preloader 1s linear infinite;
}
@keyframes preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ----------------------- Header section CSS ----------------------- */
.header {
    border-width: 2px !important;
    border-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.header .navbar .navbar-brand h1 {
    font-size: 30px !important;
    font-weight: 900 !important;
    letter-spacing: 2px !important;
}
.header .navbar .navbar-brand span.logo-circle {
    position: relative;
    width: 28px;
    height: 28px;
    border: 4px solid var(--white-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}
.header .navbar .navbar-brand span.logo-circle::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white-color);
    transform: translate(-50%, -50%);
}
.header .navbar .navbar-collapse .nav-link {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white-color);
    padding: 0px 5px;
    margin: 0 10px;
    opacity: 0.7;
    position: relative;
    height: 25px;
}
.header .navbar .navbar-collapse .nav-link::before {
    position: absolute;
    content: "";
    top: 95%;
    left: 0;
    z-index: 1;
    width: 0;
    height: 2px;
    opacity: 1;
    background-color: var(--white-color);
    transition: all 0.3s linear;
}
.header .navbar .navbar-collapse .nav-link:hover::before {
    width: 100%;
    transition: all 0.3s linear;
}
.header .navbar .navbar-collapse .nav-link.active {
    opacity: 1;
    font-weight: 800;
}
.header .navbar .navbar-collapse .nav-link.active::before {
    opacity: 1;
    width: 100%;
}

/* ----------------------- Home section CSS ----------------------- */
.home-section {
    padding: 260px 0 210px;
    position: relative;
    z-index: 1;
}
.home-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/shape-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    height: 110px;
}
.home__content h1 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}
.home__content p {
    font-size: 17px;
    line-height: 1.8rem;
    margin: 12px 0 18px;
}
.home__img img {
    position: absolute;
    top: -50px;
    left: 170px;
    width: 100%;
    max-width: 390px;
    
    animation: productImg 3s linear infinite;
}
@keyframes productImg {
    0%, 100% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-20px);
    }
}

.home-section .shapes span {
    position: absolute;
    display: inline-block;
    opacity: 0.4;
}
.home-section .shapes span:nth-child(1) {
    top: 20%;
    left: 29%;
    width: 100px;
    height: 100px;
    background-color: var(--white-color);
    border-radius: 50%;
    
    animation: shapesScaleZoom 3s linear infinite;
}
@keyframes shapesScaleZoom {
    0%, 100% {
        transform: scale(0.5) translateX(0px);
    }
    50% {
        transform: scale(1.1) translateX(35px);
    }
}
.home-section .shapes span:nth-child(2) {
    top: 70%;
    right: 39%;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid var(--white-color);
    border-bottom: 5px solid transparent;
    
    animation: shapesRotate 5s linear infinite;
}
@keyframes shapesRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.home-section .shapes span:nth-child(3) {
    top: 40%;
    right: -4%;
    width: 160px;
    height: 160px;
    opacity: 0.3;
    background-color: var(--white-color);
    border-radius: 50%;
    
    animation: shapesScale 3s linear infinite;
}
@keyframes shapesScale {
    0%, 100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.1);
    }
}
.home-section .shapes span:nth-child(4) {
    top: 40%;
    left: -4%;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: 5px solid var(--white-color);
    
    animation: shapesRotate 5s linear infinite;
}

/* ----------------------- About section CSS ----------------------- */
.about-section {
    padding: 50px 0px;
}
.about__img img {
    max-width: 400px;
}
.about__content .sub-title {
    font-size: 36px;
    font-weight: 800;
    line-height: 2.8rem;
}
.about__content p {
    font-size: 18px;
    line-height: 28px;
}
.about__content ul li {
    padding-left: 2rem;
    line-height: 26px;
}
.about__content ul li i {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    text-align: center;
    line-height: 26px;
}

/* ----------------------- Features section CSS ----------------------- */
.features-section {
    background-color: #f5f5ff;
    padding: 50px 0;
}
.features-section .features__title .sub-title {
    line-height: 46px;
}
.features-section .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s linear;
}
.features-section .card .card-body p {
    font-size: 18px;
    line-height: 28px;
}
.features-section .features__item {
    margin-bottom: 30px;
    transition: all 0.4s linear;
}
.features-section .features__item:hover {
    transform: translateY(-10px);
}
.features-section .features__item .card:hover .card-body i,
.features-section .features__item .card:hover .card-body h4,
.features-section .features__item .card:hover .card-body p {
    color: var(--white-color) !important;
    transition: all 0.4s linear;
}

/* ----------------------- Products section CSS ----------------------- */
.products-section {
    padding: 50px 0;
}
.products__list .products__item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 20px 0;
}
.products__list .products__item .card-body .product__price span:first-child {
    font-weight: 900;
    font-size: 18px;
}
.products__list .products__item .card-body h5.card-title {
    line-height: 28px;
    height: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.products__list .products__item .card-img-top {
    z-index: 1;
}
.products__list .products__item .card-img-top .overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    transition: all 0.4s linear;
    opacity: 0;
}
.products__list .products__item:hover .card-img-top .overplay {
    opacity: 1;
    z-index: 2;
}
.products__list .products__item .card-img-top .overplay .btn {
    transform: translateY(100px);
    transition: all 0.3s linear;
}
.products__list .products__item:hover .card-img-top .overplay .btn {
    transform: translateY(0px);
}
.products__list .products__item .card-img-top img {
    transition: all 0.4s linear;
}
.products__list .products__item:hover .card-img-top img {
    transform: scale(1.15);
}
.products__list .owl-carousel .owl-nav {
    text-align: center;
    margin-top: 25px;
}
.products__list .owl-carousel .owl-nav button.owl-next,
.products__list .owl-carousel .owl-nav button.owl-prev {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    color: var(--white-color);
    margin: 0 10px;
    font-weight: 300;
    border: 2px solid transparent;
}
.products__list .owl-carousel .owl-nav button.owl-next:hover,
.products__list .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: var(--white-color);
}
.products__list .owl-carousel .owl-nav button.owl-next span ,
.products__list .owl-carousel .owl-nav button.owl-prev span {
    font-size: 42px;
    margin-top: -12px;
    display: block;
}

/* ----------------------- Testimonials section CSS ----------------------- */
.testimonials-section {
    background: url(/images/bg-01.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 70px 0;
    position: relative;
    z-index: 1;
}
.testimonials-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
.testimonials__title h5::before {
    background-color: var(--white-color);
}
.testimonials__item .testi__info img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid transparent;
}
.testimonials__item .testi__info div h6 {
    font-size: 18px;
    font-weight: 700;
}
.testimonials__item .testi__comment p {
    font-size: 18px;
    color: #999;
    line-height: 28px;
    height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.testimonials__item .testi__comment p i.fa-quote-right {
    bottom: 10%;
    right: 0;
}
.testimonials__item .testi__rating {
    font-size: 16px;
    color: orange;
}
.testimonials__content .owl-carousel .owl-nav {
    text-align: center;
    margin-top: 35px;
}
.testimonials__content .owl-carousel .owl-nav button.owl-next,
.testimonials__content .owl-carousel .owl-nav button.owl-prev {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0 10px;
    font-weight: 300;
    transition:  all 0.4s linear;
    border: 2px solid transparent;
}
.testimonials__content .owl-carousel .owl-nav button.owl-next:hover,
.testimonials__content .owl-carousel .owl-nav button.owl-prev:hover {
    border-color: var(--white-color);
    transition:  all 0.4s linear;
}
.testimonials__content .owl-carousel .owl-nav button.owl-next span,
.testimonials__content .owl-carousel .owl-nav button.owl-prev span {
    font-size: 42px;
    margin-top: -12px;
    display: block;
}
.testimonials__content .owl-carousel .owl-nav button.owl-next:hover span,
.testimonials__content .owl-carousel .owl-nav button.owl-prev:hover span {
    color: var(--white-color);
}

/* ----------------------- FAQ section CSS ----------------------- */
.faq-section {
    padding: 60px 0;
}
.faq__content .col-lg-6 .faq__title {
    cursor: pointer;
    line-height: 30px;
}
.faq__content .col-lg-6 .faq__title i {
    font-size: 15px;
}

/* ----------------------- Newsletter section CSS ----------------------- */
.newsletter-section {
    background: url(/images/bg-02.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0;
    position: relative;
    z-index: 1;
}
.newsletter-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
.newsletter__title h5::before {
    background-color: var(--white-color);
}
.form-subscribe input[type='email'] {
    padding: 20px 185px 20px 30px;
}
.form-newsletter button.btn--subscribe {
    top: 50%;
    right: 1%;
    height: 80%;
    padding: 0 1.5rem;
    transform: translateY(-50%);
}

/* ----------------------- Contact section CSS ----------------------- */
.contact-section {
    padding: 60px 0px;
}
.contact__wrapper .form__contact .row .form-control {
    border: none;
    border-bottom: 3px solid #dcdcdc;
    padding: 20px 12px;
}
.contact__wrapper .form__contact .row .form-control:focus {
    box-shadow: none;
}
.contact__wrapper .form__contact .row .form-control::placeholder {
    color: #9e9e9e;
}
.contact__wrapper .form__contact .row .col-12 textarea {
    height: 160px;
}
.contact__wrapper .form__contact .btn--send {
    color: var(--white-color);
    padding: 0.8rem 1.4rem;
}
.contact__content .address i,
.contact__content .email i,
.contact__content .phone i {
    background-color: #eee;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    text-align: center;
    line-height: 46px;
    font-size: 22px;
}
.contact__content .address div h6,
.contact__content .email div h6,
.contact__content .phone div h6 {
    font-size: 17px;
    font-weight: 800;
}
.contact__content .address div p,
.contact__content .email div p,
.contact__content .phone div p {
    font-size: 15px;
}

/* ----------------------- Footer section CSS ----------------------- */
.footer {
    padding: 60px 0 15px;
}
.footer .container a span.logo-circle {
    position: relative;
    width: 28px;
    height: 28px;
    border: 4px solid var(--white-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}
.footer .container a span.logo-circle::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--white-color);
    transform: translate(-50%, -50%);
}
.follow-us .follow-item {
    display: inline-block;
    line-height: 48px;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    transition: all 0.4s linear;
}
.follow-us .follow-item i {
    font-size: 20px;
}
.follow-us .follow-item:hover {
    background-color: var(--white-color);
}