
:root {
    --bg-color-crimson: #d70d25;
}

.header, 
.home-section,
.heading-title__5::before,
.features-section .features__item .card:hover,
.products__list .owl-carousel .owl-nav button.owl-next,
.products__list .owl-carousel .owl-nav button.owl-prev {
    background-color: var(--bg-color-crimson);
    transition: all 0.4s linear;
}
.btn--primary,
.btn--primary:hover,
.heading-title__5,
.text--primary,
.features-section .card .card-body i,
.products__list .products__item .card-body .product__price span:first-child {
    color: var(--bg-color-crimson);
}

